name: Build & Push to ACR (Admin creds)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

env:
  ACR_NAME: ariel1devops1assigenment
  ACR_LOGIN_SERVER: ariel1devops1assigenment.azurecr.io
  IMAGE_NAME: static-site
  TAG: ${{ github.sha }}

jobs:
  push-to-acr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Logs in with your Azure credentials
      - name: Azure login
        run: |
          set -ex
          az login --service-principal \
              --username "${{ secrets.AZURE_CLIENT_ID }}"  \
              --password "${{ secrets.AZURE_CLIENT_SECRET }}" \
              --tenant "${{ secrets.AZURE_TENANT_ID }}"

      # Login to ACR with admin creds
      - name: Docker login to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ env.ACR_NAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build & push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
            ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:latest
